%ul.chat
  %li.left.clearfix
    %span.chat-img.pull-left
      %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/55C1E7/fff"}/
    .chat-body.clearfix
      .header
        %strong.primary-font Jack Sparrow
        %small.pull-right.text-muted
          %i.fa.fa-clock-o.fa-fw
          12 mins ago
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.right.clearfix
    %span.chat-img.pull-right
      %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/FA6F57/fff"}/
    .chat-body.clearfix
      .header
        %small.text-muted
          %i.fa.fa-clock-o.fa-fw
          13 mins ago
        %strong.pull-right.primary-font Bhaumik Patel
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.left.clearfix
    %span.chat-img.pull-left
      %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/55C1E7/fff"}/
    .chat-body.clearfix
      .header
        %strong.primary-font Jack Sparrow
        %small.pull-right.text-muted
          %i.fa.fa-clock-o.fa-fw
          14 mins ago
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.right.clearfix
    %span.chat-img.pull-right
      %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/FA6F57/fff"}/
    .chat-body.clearfix
      .header
        %small.text-muted
          %i.fa.fa-clock-o.fa-fw
          15 mins ago
        %strong.pull-right.primary-font Bhaumik Patel
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
