%ul.chat
  %li.left.clearfix
    %span.chat-img.pull-left#first_face
      = lazy_load(get_classes_path(ele_id: "first_face"), type: "json", success: "add_fa_class();")
    .chat-body.clearfix
      .header
        %strong.primary-font Jack Sparrow
        %small.pull-right.text-muted
          %i.fa.fa-clock-o.fa-fw
          12 mins ago
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.right.clearfix
    %span.chat-img.pull-right#fourth_face
      = lazy_load(get_classes_path(ele_id: "fourth_face"), type: "json", success: "add_fa_class();")
    .chat-body.clearfix
      .header
        %small.text-muted
          %i.fa.fa-clock-o.fa-fw
          13 mins ago
        %strong.pull-right.primary-font Bhaumik Patel
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.left.clearfix
    %span.chat-img.pull-left#second_face
      = lazy_load(get_classes_path(ele_id: "second_face"), type: "json", success: "add_fa_class();")
    .chat-body.clearfix
      .header
        %strong.primary-font Jack Sparrow
        %small.pull-right.text-muted
          %i.fa.fa-clock-o.fa-fw
          14 mins ago
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
  %li.right.clearfix
    %span.chat-img.pull-right#third_face
      = lazy_load(get_classes_path(ele_id: "third_face"), type: "json", success: "add_fa_class();")
    .chat-body.clearfix
      .header
        %small.text-muted
          %i.fa.fa-clock-o.fa-fw
          15 mins ago
        %strong.pull-right.primary-font Bhaumik Patel
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
