#wrapper
  / Navigation
  #page-wrapper{:style => "margin: 0px;"}
    .row
      .col-lg-12
        %h1.page-header Lazy Loading Dashboard
      / /.col-lg-12
    / /.row
    = lazy_load("/panels", success: "load_data_row();", failure: "failureCallback(failure, callback)");
    / /.row
  / /#page-wrapper
/ /#wrapper
